body
  background-color: gray
  font-family: Helvetica, Geneva, Arial

#container
  position: relative
  background-color: white
  border: 2px solid black
  border-width: 2px 3px 3px 2px
  padding: 1.0em
  margin: auto
  width: 70%
  height: 400px

.badge
  border: 2px solid black

img.screenshot
  float: right

a.install
  font-size: 1.6em
  margin-left: 3.0em

#dev
  position: absolute
  bottom: 1em
  left: 1em

#devfu
  position: absolute
  bottom: 1em
  right: 1em
  font-size: 0.8em

a
  text-decoration: none
  color: #3B5998

a:hover
  text-decoration: underline

a img
  border: none