%p
  %a{ :href => "http://weewar.com/user/#{ @user.weewar_name.strip }" }= @user.weewar_name.strip
  's Weewar Stats
%p
  %strong== #{@user.points} points
  %br/
  = @user.game_record

%a{ :href => PUB_URL } Weewar Badge
|
%a{ :href => "#{FB_URL}invite/new" } Invite Others