= fbml do
  = fb_request_form fb_invite_options("Show off your Weewar stats by installing this simple Weewar badge!") do
    - fb_multi_friend "Invite your friends to add a Weewar badge to their profile."

