- fbml do
  Invitations sent to:

  %ul.users_list
    - for recipient in @recipients
      %li.user
        = fb_profile_pic recipient
        = fb_user_name recipient

  - if params[:emails]
    %ul
      - for email in params[:emails]
        %li= email