!!! XML
!!! Strict
%html

  %head
    %title Weewar Badge
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/application.css' }

  %body
    #container
      #content= yield
