%h1 You have authenticated the Weewar Badge!  Thanks  :)
%p== Hello #{ facebook_session.user.name }
%p To use the Weewar Badge, we need some additional information
%form{ :action => "#{ PUB_URL }/associate_facebook_user_with_weewar_user", :method => 'post' }
  %input{ :type => 'hidden', :name => 'facebook_id', :value => facebook_session.user.id }
  %label
    Weewar Username: 
    %input{ :type => 'text', :name => 'weewar_name' }
  %input{ :type => 'submit', :value => 'Update Information' }
