%img.screenshot{ :src => '/images/screenshot.png' }

%h1 Facebook Weewar Badge
%a.install{ :href => FB_URL } Click here to install

#dev
  %h3 Developers
  %a{ :href => 'http://github.com/devfu/facebook-weewar-badge' } Click here to view source code

#devfu
  %a{ :href => 'http://devfu.com' }
    Brought to you by Dev Fu!
    %img{ :src => '/images/devfu.png' }
